.treeViewNode{
    width: 100%;
    background-color: transparent;
}

.treeNodeContents{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(239, 239, 239);
    border-bottom: 3px solid rgb(229, 229, 229);
    border-radius: 5px;
}

.treeNodeContents:hover{
    background-color: rgb(202, 202, 202);
    border-bottom: 3px solid rgb(192, 192, 192);
}

.ant-tree{
    background-color: transparent !important;

}

.spinnerAsset  {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: transparent black transparent black !important;
    border-radius: 50%;
    animation: spin-anim 1s linear infinite;
}
.spinnerDashboard  {
    width: 40px;
    height: 40px;
    border: 4px solid;
    border-color: transparent black transparent black !important;
    border-radius: 50%;
    animation: spin-anim 1s linear infinite;
}

.ant-tree .ant-tree-treenode{
    transition: height 2s;
}

.ant-tree-switcher .ant-tree-switcher-icon{
    font-size: 15px;
    margin-top: 12px;
}

.buttonSelected{
    background-color: #ba4735;;
    color : white;
    padding : 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: medium;
}
.buttonUnselected{
    background-color: rgb(70, 67, 67);
    color: white;
    margin-bottom: 10px;
    padding : 5px;
    border-radius: 8px;
    font-size: medium;
}
.buttonHeader {
    color: white;
    margin-top: 10px;
    padding : 10px;
}

.apply {
    background: white;
    position: sticky;
    padding : 15px;
    bottom : 0;
    
  }
.filterContainer {
    border-top : 15px;
    border-width: 15;
}

.ant-tree-show-line .ant-tree-switcher{
    background-color: transparent;
}

/* .ant-tree-draggable-icon{
    width: 0px;
} */

.ant-tree .ant-tree-node-content-wrapper:hover{
    background-color: transparent;
}

.ant-tree .ant-tree-node-content-wrapper{
    width: 100%;
    height: 100%;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent;
}

.treeNodeLabel{
    font-weight: inherit;
    flex-grow: 1;
    padding-left: 10px;
    margin: 0;
}

.treeNodeContentIcon{
    height: 32px;
    width: 32px;
    display:flex;
    background-color: transparent;
    margin-left: 8px;
}

.ant-tree-show-line .ant-tree-indent-unit::before{
    border-right: 3px solid rgb(220, 220, 220);
}

.anticon{
    display: none;
}

.MuiAccordionSummary-content{
    margin: 0px !important;
    display: flex;
    flex-grow: 1;
    align-items:center;
    padding: 0px;
}

.optionIcon {
    min-width: 35px !important;
}