/* ========================================================== */
/* Row Styling */
/* ========================================================== */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    color: white;
    fill: white;
}

.flex-container:hover{
    color: lightgray;
    fill: lightgray;
}

.flex-full {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.tableHead {
    background-color: #203140;
    font-size: 0.875rem;
}

/* ========================================================== */
/* Toolbar Styling */
/* ========================================================== */
.toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
}

/* ========================================================== */
/* Table Styling */
/* ========================================================== */
.virtual-table {
    display: table;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
  
.virtual-table tr {
    border-collapse: collapse;
}

.virtual-table tr th {
    text-align: left;
}


.virtual-table tr th,
.virtual-table tr td {
    padding: 10px 16px 10px 16px;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}

.virtual-table tr:nth-child(5n){
    background-color: #f2f2f2;
}

.virtual-table tr:hover{
    background-color: #ddd;
}

.virtual-table th{
    position: sticky;
    top: 0px;  /* 0px if you don't have a navbar, but something is required */
    z-index: 5;
}


.virtual-table tr th:last-child,
.virtual-table tr td:last-child {
    border-right: 1px solid gainsboro;
}
.virtual-table tr:last-child th,
.virtual-table tr:last-child td {
    border-bottom: 1px solid gainsboro;
}

.virtual-table tr td {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    
}

.virtual-table tr th {
    font-weight: 500;
}

.virtual-table-container{
    max-height: 600px;
    overflow-y: scroll;
}

.table-checkbox.Mui-checked{
    color: #ba4735 !important;
}

.table-checkbox{
    color: white !important;
    padding: 0px !important;
}

.data-checkbox.Mui-checked{
    color: #ba4735 !important;
}

.data-checkbox{
    color: rgba(0, 0, 0, 0.54) !important;
    padding: 0px !important;
    width: 100%;
}

.chartStyle {
    display: flex; 
    align-items: left;
    justify-content: left;
    /* max-width:50%; */
}
.statusText { 
    /* margin: 0 auto; */
    display: flex!important;
    align-items: center!important;
    padding-left: 1vh!important;
    /* height: 100vh; */
}