.spinner {
    width: 24px;
    height: 24px;
    border: 4px solid;
    border-color: #ffffff transparent #ffffff transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}