.form {
    max-width: 400px;
    margin: 0 auto;
}

.banner p {
    color: red;
    font-weight: bolder;
    font-size: 1em;
}

input, select {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid black;
}

input[type='checkbox'] {
    padding: 0;
}

.scaleColumn input[type='radio'],
.scaleColumn input[type='checkbox'] {
    display: inline;
    width: initial;
    margin: 10px;
}

label#confirmDelete {
    font-size: 16px;
    padding: 1vh 0;
}

.formError {
    color: red;
    font-weight: bolder;
    font-size: 1em;
}

.formButtons {
    display: flex;
}

.formButtons button, .formButtons2 button {
    padding: 10px 0;
}

.formButtons2 {
    display: flex;
    width: 100%;
}
/* 
    #ba4735 = hobartcorp brown 
    #73cfec = hobartcorp light blue
    #203140 = hobartcorp dark blue
    #ec5990 = react-hook-form red
*/
.formButton1, .formButton2 {
    flex: 1;
    margin-right: 10px;
    margin-top: 15px;
    background: #ba4735;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    appearance: none;
    border-radius: 4px;
    width: 255px;
    min-width: 180px;
}

.formButton1 {
    width: 50%;
}

.form-control .formButton1 {
    margin: 30px 10px 15px 10px;
}
.profileActions .formButton1 {
    margin: 10px 0px;
}

.formButton1.createButton {
    margin: 10px 0;
}

.restrictedAccess .restrictedButton {
    color: white !important;
}

.restrictedAccess .restrictedButton:hover {
    background-color: #ba4735;
    color: black !important;
    transition: 0.3s;
}

fieldset {
    text-align: center;
    border: 1px solid black;
    /* margin: 20px; */
    min-width: 80%;
    margin-bottom: 20px;
}

.htGroup1 {
    margin: 0 20px;
}

.scaleColumn {
    display: flex;
    margin: auto;
    max-width: 100%;
}

.scaleColumn1 {
    flex: 2;
}

.scaleColumn2 {
    flex: 1.5;
}

p#return {
    padding-bottom: 15px;
}

input#remember, input#terms {
    padding: 0;
    display: inline-block;
    box-sizing: inherit;
    font-size: inherit;
}

/* ScaleProfiles Styles */
.scaleProfiles {
    flex: 3;
    display: flex;
    padding-top: 20px;
}

.scaleProfiles label {
    font-size: 12pt;
}

.scaleProfiles select {
    height: fit-content;
    padding: 5px 15px;
    width: 400px;
    min-width: fit-content;
}

.profileSelector {
    min-width: fit-content;
    width: 250px;
}

.scaleProfileSelector {
    min-width: 250px;
}

.uploadFile input[type='file'] {
    width: 100%;
    min-width: 250px;
}

.form-control form {
    color: black;
    border: none;
}

/* .tableTemplate input[type='text'] {
    margin-bottom: 15px;
    width: 100%;
} */

/* ================= License Form ================= */

.licenseContainer1, .licenseContainer2 {
    display: flex;
    text-align: center;
}

.licenseGroup, .licenseInfo {
    flex: 1;
    margin: 0 5px 0 5px;
    padding: 10px 5px;
}

.licenseGroup li {
    padding: 0px 10px;
    text-align: left;
}

.licenseTypes input, .radioLabel {
    display: inline;
    width: inherit;
    margin-left: 5px;
}

.licenseTypes, .licenseInfo  {
    text-align: left;
}

.emailLink {
    margin: 0 10px 0 0px;
    font-weight: bold;
}

.roleContainer {
    columns: 2 auto;
}

.customRoleError {
    text-align: center;
    margin-top: 4px;
}

/* CreateAccount.jsx width override */
.row .widthChange {
    width: 66.66667%;
}