.downloader {
    width: 500px;
    min-height: 128px;
    min-width: fit-content;
    position: fixed;
    right: 5px;
    top: 70px;
    /* bottom: 18px; */
    max-height: 700px;
    overflow-y: auto;
    font-size: 14px;
}

.downloader .card-header {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: #ba4735;
    border: 1px currentColor;
    padding: 0.5em;
}

.downloader .card .list-group {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.downloadPopup {
    text-align-last: center;
}

.downloadPopup div {
    display: inline;
    padding: 0 20px;
}

.downloadProgress .progress {
    height: 1rem;
}
