@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


@mixin md-up {
  @media (min-width: 900px) { 
    @content; 
  }
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", "Arial", "sans-serif";
  /* scroll-behavior: smooth; */
}

/* Remove increment/decrement icon on input[number] fields | Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove increment/decrement icon on input[number] fields | Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ============== Navbar.css Styles ============== */
.top a {
  display: flex;
  color: white;
  max-width: 100%;      
  margin: auto;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}

.appBar {
  z-index: 1202 !important;
  background-color: #203140 !important;
}

.react-datepicker-popper{
    z-index: 6 !important;
}

.grow {
  flex-grow: 1;
}

.sectionDesktop, .sidebarSectionDesktop, .hobartLogo {
  display: none;
}

.sidebarSectionDesktop {
  background-color: #fff;
}

.sectionMobile, .sidebarSectionMobile {
  display: flex;
}

.sidebarSectionMobile {
  flex-direction: column;
  width: 100px;
  z-index: 1200;
}

@media (min-width: 900px) {
  .sectionDesktop, .sidebarSectionDesktop {
    display: flex;
  }

  .sectionMobile, .sidebarSectionMobile {
    display: none;
  }

  .hobartLogo {
    display: flex;
    position: absolute; 
    left: 42%; 
    right: 50%;
    top: 4px;
  }
}

.enterprise a {
  border-radius: 8px;
  padding: 2px 8px 2px 0px;
}
.enterprise a:hover {
  opacity: 0.5;
  transition: 0.3s;
  color: white;
}

button#logo {
  font-weight: 600;
  padding: 0;
}

.sectionDesktop .userProfile {
  font-size: 1.25rem;
}

/* ============== Sidebar.css Styles ============== */
.sidebarSectionMobile .customHoverFocus {
  background-color: #bdbdbd; 
  margin: 10px 25px 10px 25px;
}

.sidebarSectionMobile .customHoverFocus:hover, .sidebarSectionMobile .customHoverFocus:active {
  background-color: #ba4735;
}

.drawerContainer {
  overflow: auto;
  padding-top: 15px;
}
.drawerContainer .nested {padding-left: 32px;}
.drawerPaper, .drawer {width: 240px;}
.drawer {flex-shrink: 0;}

.bars {flex: 1;}

.content {
  padding-left: 240px;
  padding-right: 32px;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  min-height: 81vh;
  flex: 4;
}
.content h1{
  text-align: center;
  margin-bottom: 40px;
}

.loggedOut {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

* {
	box-sizing: border-box;
}

#actionBar1 {
  color: white !important;
  background-color: #ba4735;
  border-color: transparent;
  /* margin: 10px; */
}

#actionBar1:hover {
  color: black !important;
}

.actionBar2 .buttonLink, .actionBar1 .buttonLink  {
  display:inline-block;
  width:100%;
  height:100%;
}

.actionBar2 .buttonLink:hover {
  color: white !important;
}

#actionDropdown1 {
  display:inline-block !important;
  height:83% !important;
  width : 20% !important;
  color: black !important;
  font-weight: 800;
  background-color: white !important;
  size:"sm" !important;
}
#actionDropdown1:hover{
  color: white !important;
  background-color: #ba4735 !important;
  border-color: transparent !important;
  
}
#actionDropdown2 {
  display:inline-block !important;
  width:100% !important ;
  height:83% !important;  
  font-weight: 900;
  color: black !important;
  background-color: white !important;
  size:"sm" !important;
}
#actionDropdown2:hover{
  color: white !important;
  background-color: #ba4735 !important;
  border-color: transparent !important;
}
#Dropdown {
  display:inline-block !important;
  width:100% !important ;
  height:100% !important;
  font-weight: 550;
  color: black !important;
  background-color: white !important;
  size:"sm" !important;
}
#Dropdown:hover{
  color: rgb(240, 224, 224) !important;
  background-color: rgb(32, 49, 64) !important;
  border-color: transparent !important;
  border-radius: 5px
}
.StyledTable{
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(239, 239, 239);
  border-bottom: 3px solid rgb(229, 229, 229);
  border-radius: 5px;
}
.StyledTable:hover{
  background-color: rgb(202, 202, 202);
    border-bottom: 3px solid rgb(192, 192, 192);
}
#Dropdown:hover > button {
  color: rgb(255, 255, 255) !important;
}
.IconDropdown {
  margin-right: 8px !important;
}
#actionModal {
  display:inline-block !important;
  color: black !important;
  background-color: white !important;
  size:"sm" !important;
}
#actionModal:hover{
  color: white !important;
  background-color: #ba4735 !important;
  border-color: transparent !important;
}
#itemDropdown2 {
  width:100% !important ;
  height:100% !important;
  color: white !important;
  background-color: #ba4735 !important;
  border-radius: 5px
}
#itemDropdown2:hover{
  color: black !important;
  background-color: #ba4735 !important;
  border-color: transparent !important;
}
#itemDropdown3 {
  width:100% !important ;
  height:100% !important;
  color: white !important;
  background-color: #097406 !important;
  border-radius: 5px
}
#itemDropdown3:hover{
  color: black !important;
  border-color: transparent !important;
}
 
.assetBar button {
  transition: 0.3s;
  margin: 10px 0;
  float: left;
}

.assetBar button:hover {
  transition: 0.3s;
  background-color: #ba4735;
}

.assetBar button:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.assetBar2 button  {
  transition: 0.3s;
  margin: 10px 0;
  float: right;
}
.assetBar2 {
  transition: 0.3s;
  margin: 10px 0;
  float: right;
}


.assetBar2 button:hover {
  transition: 0.3s;
  background-color: #ba4735;
}

.assetBar2 button:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.noClass button:hover{
    background-color: transparent;
}

.toggleBar .btn-check:checked + .btn-outline-primary{
  background-color:#ba4735 !important;
}

.toggleBar .btn-check:checked + .btn-outline-primary + .btn-check:hover{
  background-color:#ba4735 !important;
}

.toggleBar .btn-check:focus + .btn-outline-primary{
  box-shadow: none !important;
}
.toggleBar .btn-check:checked + .btn-outline-primary:focus{
  box-shadow: none !important;
}

.toggleBar .btn-outline-primary:focus{
  box-shadow: none !important;
  color: #ffffff !important;
}

.toggleBar .btn-outline-primary:hover{
  background-color:rgba(0, 0, 0, 0.25) !important;
}

.btn-outline-red{
    color: rgb(255, 77, 77) !important;
    border-color: #000000 !important;
}
.btn-outline-red:hover{
    color: white !important;
}


.minimizeButton{
  transition: 0.3s !important;
  margin-left: auto !important;
  color: #203140;
}

.minimizeButton:hover{
  color:#ba4735 !important;
  background-color: transparent !important;
}

.minimizeButton:active{
    box-shadow: none !important;
}

.minimizeButton:focus{
    box-shadow: none !important;
}

.clearAddButton{
  transition: 0.3s !important;
  color: #203140;
  padding: 0 !important;
  margin-left: 15px;
}

.clearAddButton:hover{
  color:#ba4735 !important;
  background-color: transparent !important;
}

.clearAddButton:focus{
  
  box-shadow: none !important;
}

.dashboardView h2 {
  font-size: 1.5rem;
}

.dashboardView h3 {
  font-size: 1.3rem;
}

.dashboardView h4 {
  font-size: 1rem;
}

.deleteMessage {
  color: #ba4735;
  font-size: 20px;
}

.formSpacing p {
  margin: 0;
}

/* ================== DASHBOARD CHARTS ==================  */

.ct-series-a, .ct-label-0 .MuiSvgIcon-root {
  fill: #ba4735;
}

.ct-series-a .ct-bar, .ct-series-a .ct-point{
  stroke: #ba4735 !important;
}

.ct-series-b, .ct-label-1 .MuiSvgIcon-root {
  fill: #73cfec;
}

.ct-series-b .ct-bar, .ct-series-b .ct-point{
  stroke: #73cfec !important;
}

.ct-series-c, .ct-label-2 .MuiSvgIcon-root {
  fill: #203140;
}

.ct-series-d, .ct-label-3 .MuiSvgIcon-root {
  fill: #ec5990;
}

.ct-series-e, .ct-label-4 .MuiSvgIcon-root {
  fill: grey;
}

.noDataLabel {
  color:grey;
  font-size: 1.25rem; 
  width: 100%; 
  text-align:center;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* ================== UPLOAD BAR ==================  */

.progress {
  height: 1rem !important;
}

.progress-bar {
  background-color: #203140 !important;
  color: #fff !important;
}

.complete-bar {
  background-color: #389440 !important;
}

button:disabled, button[disabled] {
  opacity: 0.4;
}
/* ================== CREATE ACCOUNT ================== */

.levelSelected , .levelSelected label {
  color: #1cb3e0;
  font-weight: bolder;
}

.levelSelected li {
  font-weight: 600;
}

.releaseNotes {
  text-align: left;
  width: 100% !important;
}

.directionsPage {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  font-weight: 500 !important;
}

.licenseAlert .licenseAlert2 {
  margin: 10px 10px 0 0; 
}

.customBorder {
  border: none !important;
}

/* ================== SETTINGS SLIDER ================== */

:root{
  --sliderActiveColor: #ba4735;
  --sliderInactiveColor: #bdbdbd;
}

.settingSlider {
  max-width: 90%;
  margin-bottom:2rem;
  margin-top: 1rem;
}

.settingSliderTrack {
  top: 50%;
  height: .5rem;
  background: var(--sliderActiveColor);
}

.settingSliderTrack.settingSliderTrack-1{
  background:var(--sliderInactiveColor);
}

.settingSliderThumb{
  cursor:pointer;
  background:var(--sliderActiveColor);
  width: 1.5rem;
  height: 1.5rem;
  top:calc(50% - .55rem);
  border-radius: 100%;
  outline: none;
}

.settingSliderThumb:hover {
  box-shadow: 0 0 0 .70rem #ba473549;
}

.currentSlideValue span{
  display:none;
}

.currentSlideValue span:after{
  content:'';
  position:absolute;
  bottom:-10px;
  width:10px;
  height:10px;
  border-bottom:5px solid #dfdfdf;
  border-right:5px solid #dfdfdf;
  background:#f8f8f8;
  left:50%;
  margin-left:-5px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.settingSliderThumb p{
  margin:8rem;
  float:left;
  position:relative;
  cursor:pointer;
}

.settingSliderThumb p:hover span{
  display:block;
}

.sliderOutput{
  margin-right:.5rem;
  width: 2.25rem;
  height: 1.8rem;
  padding:.1rem;
  text-align: center;
  border-color: var(--sliderInactiveColor);
  margin-left:1rem;
}

.sliderDiv{
  width: 100%;
  display:inline-block; 
  margin-left:5%;
  margin-bottom: .5rem;
}

.sliderLabel{
  margin-top:0rem;
  margin-bottom:0rem;
}

/* hide arrows
 Chrome, Safari, Edge, Opera */
 sliderOutput[type=number]::-webkit-outer-spin-button,
 sliderOutput[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   margin: 0;
   appearance:none;
 }

/* ==============   GENERAL REUSABLE STYLES    ============== */
/* .fw-bold already exists in a library */

.color-orange {
  color: rgb(255, 115, 0);
}

.color-red {
  color: red;
}

.color-black {
  color: black;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.display-flex {
  display: flex;
}

.flex-direction-rowReverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.underline {
  text-decoration: underline;
}

.max-height-600 {
  max-height: 600px;
  overflow-y: scroll;
}

.max-height-750 {
  max-height: 750px;
  overflow-y: scroll;
}

/* ============================================== */

.boxBold {
    font-weight: 700;
    margin: 4px;
}

.boxRegular {
    font-weight: 400;
    margin: 4px;
}