/* Working CSS that overrides React-Table's CSS*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tbody tr:hover {background-color: #ddd;}
thead tr {background-color: #203140;}
thead th:hover {transition: 0.3;}

.standardTable {
  width: 100%;
  min-width: 700px;
  overflow-wrap: break-word;
}

.standardTable tr:nth-child(even){
  background-color: #f2f2f2;
}

.dashBoardTable {
  width: 100%;
  min-width: 700px;
  overflow-wrap: break-word;
}

.MuiTableCell-stickyHeader {
  background-color: #203140 !important;
}

.MuiTableCell-stickyHeader:hover{
  color: #ddd !important;
  transition: 0.3 !important
}


/* For whatever reason, the active sort filter didn't change color via SCSS */
.MuiTableCell-root.MuiTableCell-head,
.MuiTableSortLabel-root.MuiTableSortLabel-active,
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
}

.MuiTableSortLabel-icon{
    opacity: 1 !important;
    color: white !important;
}

.MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon{
    opacity: 1 !important;
    color : rgb(186, 71, 53) !important;
}

.MuiTableSortLabel-icon:hover{
    opacity: 1 !important;
    color: #66799e !important;
}

.Mui-TableHeadCell-Content-Labels.MuiBox-root{
    width: 100%;
    justify-content: space-between;
}

.css-18imjg3-MuiButtonBase-root-MuiIconButton-root{
    opacity: 1 !important;
    color: white !important;
}

.css-18imjg3-MuiButtonBase-root-MuiIconButton-root:hover{
    color:#66799e !important;
}

.MuiToolbar-root{
    background-color: rgba(32, 49, 64, 0.1) !important
}




.MuiTableCell-root.MuiTableCell-head:hover,
.MuiTableSortLabel-root.MuiTableSortLabel-active:hover,
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon:hover {
  color: lightgray !important;
  transition: 0.3s;
}

.MuiTableRow-root.Mui-selected {
  background-color: #73cfec !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: gray !important;
}

.showColumn {
  /* display: contents; */
  font-weight: 400;
}

.MuiTableCell-root.hideColumn, .MuiTableCell-head.hideColumn {
  display: none;
}

.MuiTableCell-root {
  padding: 10px 16px 10px 16px !important;
}

.MuiTableRow-root > .MuiTableCell-root:only-child {
  padding: initial !important;
}

/* Makes the "enhanced table" a little more condensed */
.MuiTableCell-paddingCheckbox {
  width: 48px;
  padding: 4px 4px 4px 4px !important;
}

/* Entire Row (read) */
.notificationTable tr {
  background-color: #f2f2f2;
}

/* Entire Row (unread) */
.MuiTableRow-root.rowUnread {
  background-color: white;
}

/* Individual Cell */
.MuiTableCell-body.cellUnread {
  font-weight: bold;
}

tr.MuiTableRow-root.rowRead:hover {background-color: #ddd;}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
  border-radius: 12px;
  transition: 0.3s;
  padding: 8px;
  margin: auto 0;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit:hover {
  opacity: 0.5;
  transition: 0.3s;
  /* background-color: rgb(138, 193, 255); */
  color: white;
}

.form-control .MuiButtonBase-root.MuiIconButton-root.info,
.form-control .MuiButtonBase-root.MuiIconButton-root.info:hover {
  color:#66799e;
}

.tableSearchBar {
  border: 2px solid #bdc8d8;
}

.tableTemplate .MuiIconButton-root {
  padding: 0px;
}

.tableToolbar .MuiIconButton-root {
  padding: 12px;
}

.tableToolbar .tableTitle {
  flex: 1;
  font-weight: bold;
}

.tableToolbar .tableDescription {
  flex: 2;
  font-size: 18px;
  /* text-align: center; */
}

.customCheckbox input[type='checkbox'] {
  margin-right: 4px;
}

.tableHeader .smallColumn {
  min-width: 70px;
  white-space: nowrap;
  white-space: pre;
}

.tableHeader .smallColumn:hover {
  color: #ddd;
}

.tableHeader .normalColumn {
  min-width: 150px;
  white-space: nowrap;
  white-space: pre;
}

.tableHeader .normalColumn:hover {
  color: #ddd;
}

.tableHeader .MuiSvgIcon-root {
  fill: white;
}

.tableHeader .visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20px;
  width: 1px;
}

.MuiIconButton-label {
  display: flex;
  /* I changed the max-width (default was 600px) */
  max-width: 100%;      
  margin: auto;
  padding: 0 10px;
  align-items: center;
  border-radius: 8px;
}

.MuiListItemIcon-root {
  margin: 0;
  padding: 0;
  border: 0;
}

.customCheckbox {
  display: flex !important;
}

.roleCells {
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* .MuiTablePagination-root {
  overflow: hidden !important;
} */