.container {
    margin: 0 auto;
    display: flex;
}
  
nav.tableContents {
    width: 220px;
    min-width: 220px;
    padding: 16px 16px 16px 0px;
    margin: 8px 8px 8px 0px;
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 70px;
    max-height: calc(100vh - 70px);
    overflow: auto;
}

.tableContents {
    font-family: 'Quicksand', 'Arial', "sens-serif";
    font-size: 1.1rem;
}

.tableContents li.active > a {
    color: #ba4735 !important;
    font-weight: 700;
}
  

.tableContents li > a:hover {
    color: #ba4735 !important;
    font-weight: 700;
}
  
@media screen and (max-width: 900px) {
    nav {
        display: none;
    }
}